<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead class="table-header">
        <tr>
          <th class="h3">#</th>
          <th class="h3">Marca</th>
          <th class="h3">Línea</th>
          <th class="h3">Modelo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let v of vehicles">
          <td>
            <dd id="idColumn">{{v.id}}</dd>
          </td>
          <td>
            <dd>{{v.marca}}</dd>
          </td>
          <td>
            <dd>{{v.linea}}</dd>
          </td>
          <td>
            <dd>{{v.modelo}}</dd>
          </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
